body {
    background-color: #feffff;
    font-family: 'Nunito', sans-serif;
}

.container-destinos {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

}

.roteiros-viagens {
    /* border: 1px solid #07070700; */
    /* background-color: #c723c727; */
    padding: 8px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.roteiros-viagens img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.roteiro-destino {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}

.roteiro-incluso {
    list-style: square;
    list-style-position: inside;
    padding: 0;
    margin-bottom: 10px;
}

.roteiro-incluso li {
    margin-bottom: 5px;
}

.roteiro-preco {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.roteiro-obs {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
    text-decoration-line: underline;
}

.roteiro-parcelamento {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
    text-decoration: underline;
}

/* .roteiro-comprar {
    background-color: #FF5A00;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
} */

/* .roteiro-comprar:hover {
    background-color: #FF4400;
} */

button {
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(133, 209, 57);
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    border: 0px transparent;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 4px 4px 6px rgba(8, 8, 8, 0.1);
    transform-origin: center;
}

button:hover {
    background-color: rgb(255, 128, 0);
    transform: scale(1.1);
}

button:active {
    transform: scale(0.90);
}